
@{
    ViewBag.Title = "DqdCustomerDetail";
}

<h2> Thong tin khach hang</h2>

<div class="alert alert-danger">
    <h3> Ma so: @ViewBag.customer.customerid</h3>
    <p> Ho ten: @ViewBag.customer.firstname @ViewBag.customer.lastname</p>
    <p> : @ViewBag.customer.address</p>
    <p> Ma so: @ViewBag.customer.yearObirth</p>
</div>
